*{
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}
body{
    background-image: url(./bg-intro-desktop.jpg);
background-color: rgb(248,92,118);
display: flex;
}

h1 {
    font-size: 3rem;
    margin-bottom: 20px;
}

p {
    font-size: 1.2rem;
}.leftpart{
    color: white;
}

.allinall, .leftpart {
    flex: 1;
}

.leftpart{
height: 100vh;
width: 100%;
display: flex;
align-items: center;
justify-content: center;
}

.leftpart div {
    height: 400px;
    width: 500px;
}
 .allinall{
     /* border: 2px solid; */
     height: 500px;
     width: 500px;
     margin-left: 100px;
     /* background-color: white; */
     margin-top: 50px;
}
form{
    /* border: 2px solid; */
    height: 400px;
    background-color: white;
    width: 450px;
    padding: 20px;
    border: 1px solid white;
}
input{
    padding: 15px;
    /* margin-top: 20px;   */
    width: 400px;
    margin-bottom: 10px;
    /* margin-left: 20px; */
    border-radius: 5px;

}
button{
height: 40px;
width: 400px;
background-color: green;
border-radius: 16px;
font-size: 15px;
text-align: center;
/* margin-left: 20px; */
margin-top: 20px;
border: none;
}
/* input press{
    background-color: green;
} */
.try{
    background-color: blue;
    display: inline-block;
    width: 450px;
    margin-bottom: 20px;
    padding: 15px 10px;
    border-radius: 7px;
}

/* .two{
    display: flex;
}
.try{
    background-color: blue;
    color: white;
    height: 2px;
    width: 10px;
    border-radius:10px;

} */

@media only screen and (max-width:700px){
/* body { flex-direction:column; }*/
[class*="col-"] {
    width: 100%;
}}